.jumbotron {
  background-color: #ebf09f;
  color: black;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #ebf09f;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.card-hotel {
  flex: 1 175px;
  padding-top: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px; }

/* .card-hotel div {
  margin: 0px 0px 0px 0px;
} */
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.carousel-item img {
  height: 300px; }

.tab-content {
  padding-top: 10px; }
