$yellow : #ebf09f;
$red : #f14747;
$green: #99f5af;

@mixin margenes($top, $right, $bottom, $left){
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

.jumbotron {
  background-color: $yellow;
  color: black;
  @include margenes(50px, 0px, 40px, 0px);
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: $yellow ;
  @include margenes(40px, 0px, 0px, 0px);
}

.card-hotel {
  flex : 1 175px;
  padding-top: 0px;
  @include margenes(10px, 0px, 0px, 10px);
}

/* .card-hotel div {
  margin: 0px 0px 0px 0px;
} */

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.carousel-item img {
  height:300px;
}

.tab-content {
  padding-top: 10px;
}
